* {
	box-sizing: border-box;
}
/*This is for - instead of dot on list*/
ul {
  list-style-type: none;
  /*use padding to move list item from left to right*/
  padding-left: 1em;
}
ul li:before {
  content: "–";
  position: absolute;
  /*change margin to move dash around*/
  margin-left: -1em;
}


/* Nav for back button section*/
#nav-home {
	position: static;
}
#nav-items {
	margin: 20px 0 0 50px;
	font-size: 120%;
}
i {
  border: solid black;
  border-width: 0 5px 5px 0;
  display: inline-block;
  padding: 5px;
}
.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

/*Beginning of experience section*/
#experience-title {
	margin: 20px 50px 50px 50px;
	font-size: 500%;
	color: #222222;
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
}
#experience-cont {
	margin: 50px;
}
#experience-header {
	border-left: solid 1px #222222;
}
#experience-position {
	font-size: 150%;
	font-family: 'Roboto', sans-serif;
	font-weight: bold;
	margin: 0;
	padding: 0;
	color: #ff5252;
}
#experience-place {
	font-size: 130%;
	color: #222222;
	font-family: 'Roboto', sans-serif;
	font-weight: bold;	
}
#experience-date {
	font-size: 110%;
	color: #222222;
	font-family: 'Roboto', sans-serif;
	color: grey;
}
#experience-info {
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	color: #222222;
	font-size: 150%;
}

/*Extra Large Devices*/
@media (min-width: 1376px) {}
@media (max-width: 1375px) {}

/*Large Devices*/
@media (min-width: 992px) {}
@media (max-width: 991px) {}

/*Medium Devices*/
@media (min-width: 768px) {
    #footer-row {
    	margin: 0 0 0 20px;
    }
}
@media (max-width: 767px) {
	#footer-bottom {
		font-size: 70%;
	}
	#footer-link {
		font-size: 140%;
	}
	#footer-title {
  	font-size: 170%;
    }
    #footer-row {
    	margin: 0 -15px 0 -15px;
    }
}

/*SMALL DEVICES */
@media (max-width: 479px) {
  #footer-bottom {
		font-size: 50%;
  }
  #footer-link {
		font-size: 100%;
  }
  #footer-title {
  	font-size: 210%;
  }
}





/*Footer Section */
#footer {
	background-color: #FF5252;
}
#footer-title {
	color: white;
	font-weight: bold;
	text-align: left;
	font-family: 'Montserrat', sans-serif;
	font-size: 250%;
	margin-top: 20px;
}
#footer-link a {
	text-decoration: none;
	color: #222222
}
#footer-link {
	color: #222222;
	font-family: font-family: 'Roboto', sans-serif;
  	font-weight: 100;
  	font-size: 180%;
  	text-align: left;
  	margin-top: 15px;
}
#footer-link a:hover {
	border-bottom: solid 3px white;
}
#footer-line {
	padding: 0;
	margin-top: 20px;
	width: 100%;
	border-color: white;
	margin-bottom: 0;
}
#footer-bottom {
	text-align: center;
	color: #222222;
	font-family: 'Montserrat', sans-serif;
	margin-top: 20px;
	padding-bottom: 10px;
	font-size: 90%;
}