* {
	box-sizing: border-box;
}

/*Loading Screen*/
#load-screen {
	width: 100%;
	height: 100vh;
	background-color: #222222;
	display: none;
}
#loading {
	text-align: center;
	position: relative;
	top: 50%;
}
#loading span {
	font-size: 300%;
}
#one {
	display: none;
}
#two {
	display: none;
}
#three {
	display: none;
}


/*Main Screen!*/
#main {
	width: 100%;
	background-color: #222222;
}

/* THIS IS FOR MENU SLIDING FORM TOP*/
/* The Overlay (background) */
.overlay {
  /* Height & width depends on how you want to reveal the overlay (see JS below) */    
  height: 0%;
  width: 100%;
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  background-color: rgb(0,0,0); /* Black fallback color */
  background-color: rgba(0,0,0, 0.9); /* Black w/opacity */
  overflow-x: hidden; /* Disable horizontal scroll */
  transition: 0.5s;
  opacity: .99;
}

/* Position the content inside the overlay */
.overlay-content {
  position: relative;
  top: 25%; /* 25% from the top */
  width: 100%; /* 100% width */
  text-align: center; /* Centered text/links */
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 60px;
  color: #818181;
  display: block; /* Display block instead of inline */
  transition: 0.3s; /* Transition effects on hover (color) */
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
}

.overlay a:hover, .overlay a:focus {
  color: #FF5252;
}

/* Position the close button (top right corner) */
.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}
#menu-icon {
	position: relative;
	float: right;
	margin: 20px;
}
#menu-icon div {
  width: 60px;
  height: 8px;
  background-color: #FF5252;
  margin: 6px 10px;
}
#nav {
	height: 15%;
}

#name {
	color: #FF5252;
	font-weight: bold;
	text-align: center;
	font-family: 'Montserrat', sans-serif;
}

#line-cont {
	position: relative;
}
#line {
	position: absolute;
	top: 40%;
	width: 90%;
	border-color: white;
}

/*Extra Large Devices*/
@media (min-width: 1376px) {
	#intro {
		margin: 2% 25% 0 25%;
	}
	#reel {
		font-size: 700%;
	}
}
@media (max-width: 1375px) {
	#intro {
		margin: 2% 15% 0 15%;
	}
	#reel {
		font-size: 500%;
	}
}

/*Large Devices*/
@media (min-width: 992px) {
	#name {
		font-size: 70px;
	}
	#intro {
		font-size: 110%;
	}
}
@media (max-width: 991px) {
	#name {
		font-size: 50px;
	}
	#intro {
		font-size: 90%;
	}
}

/*Medium Devices*/
@media (min-width: 768px) {
	#intro {
		margin-left: 15%;
		margin-right: 15%;
	}
	#main-button {
    margin: 2% 25% 0 25%;
  }
  .text {
    top: 45%;
    font-size: 19px;
  }
  .project-title {
    font-size: 25px;
  }
}
@media (max-width: 767px) {
	#line {
		display: none;
	}
  #reel {
    font-size: 400%;
  }
  #name {
    font-size: 40px;
  }
  #intro {
    margin-left: 10%;
    margin-right: 10%;
    font-size: 80%;
  }
  #main-button {
    margin: 2% 10% 0 10%;
  }
  .text {
    top: 50%;
    font-size: 17px;
  }
  .project-title {
    font-size: 20px;
  }
  .project-big {
    font-size: 50px !important;
  }
}


@media (min-width: 480px) {
  #main {
    height: 100vh;
  }
}
/*SMALL DEVICES */
@media (max-width: 479px) {
  .overlay a {
  	font-size: 40px;
  }
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
  #reel {
  	font-size: 300%;
  }
  #intro {
    margin-left: 2%;
    margin-right: 2%;
    font-size: 85%;
  }
  #main-button {
    padding-bottom: 20px;
  }
}


#intro {
	text-align: center;
	color: white;
	font-family: 'Roboto', sans-serif;
    font-weight: 100;
    margin-top: 2%;
    margin-bottom: 0;
}
#main-button {
	text-align: center;
}
#main-button button {
	color: #FF5252;
	border-color: #FF5252;
	width: 125px;
}
#main-button button:hover {
	color: white !important;
	background-color: #FF5252;
	width: 125px;
}
#main-button a {
	color: #FF5252;
	text-decoration: none;
}
#main-button a:hover {
	color: white;
}











/*Project Section*/
#projects {
	margin-top: 50px;
	margin-bottom: 50px;
	width: 100%;
}
#projects #name {
	font-family: 'Roboto', sans-serif;
  	font-weight: 100;
}
#projects #line {
	border-color: black;
	width: 100%;
	position: relative;
}

#project-block {
	padding: 20px;
	height: 300px;
	background-image: url("angleo.png");
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
}

#project-info {
	width: 100%;
	height: 100%;
	z-index: 2;
	display: none;
	transition: 5s ease;
}
#project-block:hover #project-info{
	z-index: 2;
	background-color: #FF5252;
	opacity: .95;
	display: block;
}

/*
FOR TRANSITION ON EACH
*/

.containertwo{
  position: relative;
  width: 100%;
  height: 275px;
}

.image {
  display: block;
  width: 100%;
  height: auto;
  border: solid 1px #d6d6d6;
}

.overlaytwo {
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  background-color: #222222;
  overflow: hidden;
  width: 100%;
  height:0;
  transition: .2s ease;
  opacity: .99;
}

.containertwo:hover .overlaytwo {
  bottom: 0;
  height: 100%;
}

.project-title {
  color: #FF5252;
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
  position: absolute;
  top: 15%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  width: 100%;
}
.text {
  color: white;
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  width: 100%;
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
}
.project-line {
  color: white;
  border-color: white;
  top: 70%;
  left: 40%;
  width: 80%;
  position: relative;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.project-button {
  top: 75%;
  left: 50%;
  position: relative;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;	
}
.project-button button {
	color: #FF5252;
	border-color: #FF5252;
	text-decoration: none;
	width: 80%;
	height: 20%;
}
.project-button button:hover {
	background-color: #FF5252;
	color: white;
	border-color: #FF5252;
}
.image {
	object-fit: cover;
	height: inherit;
}
#project-cont {
	padding: 0;
	padding: 15px;
}
#reel {
	text-align: center;
	font-family: font-family: 'Roboto', sans-serif;
  	font-weight: 100;
  	position: relative;
  	top: 15%;
  }

