* {
	box-sizing: border-box;
}
/*This is for - instead of dot on list*/
ul {
  list-style-type: none;
  /*use padding to move list item from left to right*/
  padding-left: 1em;
}
ul li:before {
  content: "–";
  position: absolute;
  /*change margin to move dash around*/
  margin-left: -1em;
}

/* Nav for back button section*/
#nav-home {
	position: static;
}
#nav-items {
	margin: 20px 0 0 50px;
	font-size: 120%;
}
i {
  border: solid black;
  border-width: 0 5px 5px 0;
  display: inline-block;
  padding: 5px;
}
.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

/*Beginning of experience section*/
#experience-title {
	color: #222222;
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
}
#experience-header {
	border-left: solid 1px #222222;
}
#experience-position {
	font-family: 'Roboto', sans-serif;
	font-weight: bold;
	margin: 0;
	padding: 0 0 0 50px;
	color: #ff5252;
}
#experience-place {
	color: #222222;
	font-family: 'Roboto', sans-serif;
	font-weight: bold;
	padding-left: 50px;	
}
#experience-date {
	color: #222222;
	font-family: 'Roboto', sans-serif;
	color: grey;
	padding-left: 50px;
}
#experience-info {
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	color: #222222;
}

/*Extra Large Devices*/
@media (min-width: 1376px) {}
@media (max-width: 1375px) {}

/*Large Devices*/
@media (min-width: 992px) {}
@media (max-width: 991px) {}

/*Medium Devices*/
@media (min-width: 768px) {
    #experience-cont {
    	padding: 50px;
    }
    #experience-title {
		font-size: 400%;
		padding: 20px 50px 50px 50px;
	}
	#experience-position {
	font-size: 150%;
	}
	#experience-place {
		font-size: 130%;
	}
	#experience-date {
		font-size: 110%;
	}
	#experience-info {
		font-size: 150%;
	}
    #sap-info {
    	margin-top: 0;
    }
    #course-div {
    	margin-bottom: 50px;
    }
    .margin-fix {
    	margin-top: 50px;
    }
}
@media (max-width: 767px) {
    #experience-cont {
    	padding: 20px 50px 20px 50px;
    }
    #experience-title {
		font-size: 270%;
		padding: 20px 50px 20px 50px;
	}
	#experience-position {
	font-size: 130%;
	}
	#experience-place {
		font-size: 110%;
	}
	#experience-date {
		font-size: 100%;
	}
	#experience-info {
		font-size: 120%;
	}
    #sap-info {
    	margin-top: 50px;
    }
    #course-div {
    	margin-bottom: 20px;
    }
    .margin-fix {
    	margin-top: 20px;
    }
}

/*SMALL DEVICES */
@media (max-width: 479px) {
}




